
/*-----------------------------header------------------------------------*/
li {
  list-style-type: none;

}

/* Changer la couleur du bouton au survol */
.nav-link:hover {
  color: white !important;
  background-color: #22f534; /* Exemple : bleu Bootstrap */
  border-radius: 5px; /* Optionnel pour les coins arrondis */
  text-decoration: none;
}

/* Changer la couleur du bouton actif */
.nav-link.active {
  color: rgb(0, 0, 0) !important;
  background-color: #22f534; /* Un vert plus intense */
  border-radius: 5px;
  text-decoration: none;
}

.navbar .nav-link{/*on paramètre les boutons*/
  color: rgb(0, 0, 0);
  text-decoration: none;/*on enlève le soulignement par défaut du lien de redirection*/
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;/*coins arrondis*/
  border-style: solid;/*bordure extérieure*/
  border-width: 1px;
  border-color: #22f534;
  /*align-items: center;*/
  box-sizing: content-box;/*la taille du bouton dépend du contenu*/
}


.nav-buttons {
  display: flex !important;
  justify-content: flex-start !important; /* Aligne les boutons à gauche */
  gap: 15px; /* Espace entre les boutons */
}

/*-------------------------------------------------------------------------------*/


/*
#page{
  display: flex;
  flex-direction: column;

  padding-right: 10%;
  padding-left:10%;
}
*/


/*
h1{
  display: flex;
  justify-content: center; 
  font-family: 'Roboto';
  font-size: 38px;
  padding-top: 15px;

}
*/

/*card*/

.card{/*création d'une carte*/
  background-color: white;/*couleur du fond*/
  border-radius: 5px;/*on arrondit les coins*/
  border-style: solid;
  border-color: #3a9b2d;
  width: 280px;
  height: auto;/*en fonction de la hauteur de la ligne de la grille*/
  display: flex;/*on essaie de la rendre responsive*/
  flex-direction: column;
  text-align: center;
}
.image{
  height:150px;
  width: 150px;
  border-radius: 50%;/*pour que l'image soit un cercle*/
}
.image-box{/*on place l'image dans la carte*/
  text-align: center;
  padding-top: 2%;
}
.card-text{
  text-align: center;/*centre le texte de la carte*/
  color:rgb(133, 133, 133);
  font-size: 14px;
}
hr{/*trait qui ne colle pas les bords de la carte*/
  margin: 10%;
}

.card:hover{/*changement de couleur de la carte si on passe dessus*/
  background-color: #98FB98;
  color:black;
}
.card:hover .image-box{/*l'arrière plan de l'image reste blanc*/
  background-color: white;
}
.card-body{
  padding-bottom: 15px;
}



/* Boutons par défaut */


/* Changement de couleur au survol */
.connexion:hover {
  background-color: #3a9b2d; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
  border-radius: 5px;
  padding: 5px 5px;
}
/* Changement de couleur au survol */
.inscription:hover {
  background-color: #3a9b2d; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
  border-radius: 5px;
  padding: 5px 5px;
}
#page{/*on utilise cette fois le grid pour que la page soit responsive*/
  display: grid;
  grid-template-columns: 10% 280px 280px 280px 10%;/*on crée des colonnes pour la grille*/
  grid-template-rows: 50px  auto 460px;/*on crée des lignes pour la grille*/
}

/*----------------placement des cartes-----------------*/
#a{/*place le titre dans la grille*/
  grid-row-start: 2;/*commence à la deuxième ligne*/
  grid-row-end: 3;/*finit à la 3e ligne*/
  grid-column-start: 4;/*commence à la 4e colonne*/
  grid-column-end: 6;/*finit à la 6e colonne*/
}
#b{/*place la première carte dans la grille*/
  grid-row-start:3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
#c{/*place la deuxième carte dans la grille*/
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 6;
}
/*--------------------------------------------------*/
