
/*-----------------------------header------------------------------------*/
li {
    list-style-type: none;
  
  }
  
  .navbar {
    background-color: #98FB98 !important; /* Vert clair pour la navbar */
  }
  
  .navbar-nav {
    gap: 15px; /* Espace entre les boutons */
  }
  
  .navbar-brand {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
  
  }
  
  .nav-link:hover {
    background-color: #3a9b2d !important;
    color: white !important;
    box-sizing: border-box; /* S'assurer que la taille totale ne change pas */
  
  }
  .navbar img {
    border-radius: 50%;
  }
  
  .nav-link.active {
    color: rgb(0, 0, 0) !important;
    background-color: #22f534; /* Un vert plus intense */
    border-radius: 5px;
    text-decoration: none;
    padding-top: 3px; /* Réduit la hauteur */
    padding-bottom: 3px; /* Réduit la hauteur */
    padding-left: 12px; /* Augmente la largeur */
    padding-right: 12px; /* Augmente la largeur */
  } 
  
  .navbar .nav-item {
    margin-right: 10px; /* Pour espacer un peu les items entre eux */
  }
    /*-------------------------------------------------------------------------------*/
    